.rb__content{
    display: flex;
    justify-content: flex-start;
    margin: 0 4pc 0 5.6pc;
}
.rb__content-cards_Post{
    margin-right: 40px;
    width: 130vh;
}


@media screen and (max-width: 550px){
    .rb__content{
        display: flex;
        justify-content: flex-start;
        margin: 0 4pc 0 4pc;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .rb__content{
        display: flex;
        justify-content: flex-start;
        margin: 0 1pc 0 1pc;
    }

}


