.rb__navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 8rem;
}

.rb__navbar-links_container{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.rb__navbar-links_container p{
    color: black;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.rb__navbar-links_container button{
    width: 200;
    display: flex;
    flex-direction: row;
    margin: 0 1px;
    border: none;
    color: white;
    background-color: #9283E0;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 600px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;

    padding: 7px 25px;
    cursor: pointer;
}

.rb__navbar-buttons_container{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.rb__navbar-menu{
    margin-left: 1rem;
    display: none;
    position: relative;
}


.rb__navbar-menu_container{
   display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-box);
    padding: 2rem;
    position:absolute;
    top: 40px;
    right: 0;
    margin-top: 1rem;
    min-width: 50px;
    border-radius: 5px; 
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.rb__navbar-menu_container button{
    width: 200;
    display: flex;
    flex-direction: row;
    margin: 0 1px;
    border: none;
    color: white;
    background-color: #9283E0;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 600px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;

    padding: 7px 25px;
    cursor: pointer;
}

.rb__navbar-menu_container p {
    margin: 1rem 0;
    font-family: var(--font-family);
    font-weight: 600px;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 1050px){
    .rb__navbar-links_container{
        display: none;
    }
    .rb__navbar-menu{
        display: flex;
        list-style: none;
        cursor: pointer;
    }
    .rb__search-container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        text-align: end;
        background: var(--color-box);
        padding: 2rem;
        position:absolute;
        top: 90px;
        left: 15rem;
        font-family: var(--font-family);
        font-weight: 600px;
        font-weight: 600;
        font-size: 16px;
        border-radius: 7px; 
        
     }
     .rb__search-container input{
        width: 470px;
        margin: 12px;
        padding: 17px 0 21px 45px;
        border-style: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
     }
}


@media screen and (max-width: 700px){
    .rb__navbar{
        padding: 2rem 4rem;
    }
    .rb__search_container{
        left: 90px;  
     }
}


@media screen and (max-width: 550px){
    .rb__navbar{
        padding: 2rem;
    }
}


